body::after {
   content: "";
   background-color: rgba(0, 0, 0, 0.5);
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   opacity: 0;
   transition: opacity 0.8s ease 0s;
   pointer-events: none;
   z-index: 149;
}

.popup-show body::after {
   opacity: 1;
}

.popup {
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   padding: 30px 10px;
   transition: visibility 0.8s ease 0s;
   visibility: hidden;
   pointer-events: none;
}

.popup_show {
   z-index: 150;
   visibility: visible;
   overflow: auto;
   pointer-events: auto;
}

.popup_show .popup__content {
   visibility: visible;
   transform: scale(1);
}

.popup__wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   min-height: 100%;
   flex: 1 1 auto;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.popup__content {
   display: flex;
   flex-direction: column;
   visibility: hidden;
   transform: scale(0);
   transition: transform 0.3s ease 0s;
   background-color: $mainBgColor;
   padding: 20px;
   width: 100%;
   max-width: 500px;
   border-radius: 20px;

   .lock & {
      visibility: visible;

      @media (max-width:$tablet) {
         max-width: 400px;
      }
   }
}

.popup__close {
   align-self: flex-end;
   color: $accentColor;
   transition: color 0.3s ease;

   @media (any-hover: hover) {
      .popup__close:hover {
         color: $secondLinkColor;
      }
   }
}

.popup__img-wrapper {
   overflow: hidden;
   width: 100%;
   max-width: 460px;
   aspect-ratio: 460/330;
}

.popup__img {
   width: 100%;
   height: auto;
   object-fit: cover;
}