$accentColor: #DC2025;
$accentDarkColor: #A30606;
$mainBgColor: #FFFFFF;
$footerBgColor: #DCDDDD;
$mainColor: #000;
$mainLightColor: #E2E2E2;
$secondLinkColor: #6B6B68;
$errorColor: red;
$linkOtherColor: #969292;
$mainButtonColor: #8EC536;
$mainLightButtonColor: #aef044;
$mainDarkButtonColor: #749e30;
$secondButtonColor: #08c;



/* $accentColor: #CF0807; */