//<FORM>
.form {

   &__contact-block {
      margin-bottom: 15px;
      position: relative;
   }

   &__placeholder-container {
      position: relative;
      width: 100%;
      margin-bottom: 20px;
   }

   &__placeholder-container--last {
      margin-bottom: 10px;
   }

   &__input {
      background-color: transparent;
      border-radius: 3px;
      border: 1.5px solid $mainColor;
      height: 45px;
      outline: 0;
      padding: 0 20px;
      width: 100%;
      transition: all 0.3s;
   }

   &__input._form-error {
      border: 1.5px solid $errorColor;
   }

   &__error {
      margin-top: 3px;
      font-size: 16px;
      color: $errorColor;

      @media (max-width: $pc) {
         font-size: calc(12px + 4*((100vw - 320px) / (1260 - 320)));
      }
   }

   &__label {
      background-color: $mainBgColor;
      padding: 5px 10px;
      pointer-events: none;
      position: absolute;
      transition: all 0.3s;
      top: 9px;
      left: 10px;

      @media (max-width: $pc) {
         top: calc(9px + 6 * (100vw - 320px) / 940);
         left: calc(7px + 3 * (100vw - 320px) / 940);
      }
   }

   textarea.form__input {
      min-height: 150px;
      resize: vertical;
      padding: 10px 20px;

      @media (max-width: $pc) {
         min-height: calc(140px + 60 * (100vw - 320px) / 940);
      }
   }

   &__video-box {
      position: absolute;
      top: 62%;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      transition: opacity 0.3s ease;

      video {
         width: 50px;
         height: 50px;
      }
   }

   &__body._sending .form__video-box {
      opacity: 1
   }

   &__input:focus {
      border-color: $accentColor;
   }

   &__input:not(:focus)+label {
      color: $linkOtherColor;
   }

   &__input:focus+label,
   &__input:not(:placeholder-shown)+label {
      top: -10px;
      left: 10px;
      font-size: 14px;
      background-color: $mainBgColor;
      padding: 2px 10px;
      color: $accentColor;
   }

   &__link {
      position: relative;
      display: inline-block;
      transition: color 0.3s ease;
      line-height: 120%;

      &::before {
         content: '';
         position: absolute;
         top: 89%;
         left: 0;
         width: 100%;
         height: 2px;
         background: $accentColor;
      }

      @media (any-hover: hover) {
         &:hover {
            color: $secondLinkColor;
         }
      }
   }

   &__button {
      width: 100%;
   }

   .text-form {
      line-height: 1.2;
   }
}

//</FORM>

// <CHECK>
// Снипет (HTML): chk
@import "checkbox";