// Секции
section {
   padding: 110px 0 110px;

   @media (max-width:1500px) {
      padding-top: calc(50px + 60*((100vw - 320px) / (1500 - 320)));
      padding-bottom: calc(50px + 60*((100vw - 320px) / (1500 - 320)));
   }
}

/* section.action-block {
   padding: 90px 0 90px;

   @media (max-width:1500px) {
      padding-top: calc(50px + 20*((100vw - 320px) / (1500 - 320)));
      padding-bottom: calc(50px + 20*((100vw - 320px) / (1500 - 320)));
   }
} */

a {
   outline: none;
}

// Заголовки
.title,
.subtitle {
   text-align: center;
   text-transform: uppercase;
}

.subtitle {
   text-align: left;
}

.subtitle-box {
   align-self: flex-start;
   display: flex;
}

.sub-subtitle {
   font-size: 24px;
   font-weight: 500;
   line-height: math.div(30, 24);

   @media (max-width: 1500px) {
      font-size: calc(22px + 2*((100vw - 320px) / (1500 - 320)));
   }
}

h1,
h2 {
   font-size: toRem(50);
   font-weight: 700;
   line-height: math.div(60, 50);
   margin-bottom: toEm(50, 50);

   @media (max-width:1500px) {
      font-size: calc(toRem(27) + 18*((100vw - 320px) / (1500 - 320)));
   }
}

h3 {
   font-size: toRem(28);
   font-weight: 900;
   line-height: math.div(35, 28);
   text-align: left;
   margin-bottom: toEm(30, 28);


   @media (max-width:1500px) {
      font-size: calc(toRem(20) + 6*((100vw - 320px) / (1500 - 320)));
   }
}

h4 {
   font-size: toRem(24);
   font-weight: 900;
   line-height: math.div(30, 24);
   text-align: left;
   margin-bottom: toEm(10, 24);


   @media (max-width:1500px) {
      font-size: calc(toRem(18) + 6*((100vw - 320px) / (1500 - 320)));
   }
}

// Общий текст
.text {
   /* font-family: "Roboto";
	font-weight: 400; */
   font-size: toRem(20);
   line-height: 1.5;

   @media (max-width:1500px) {
      font-size: calc(toRem(16) + 4*((100vw - 320px) / (1500 - 320)));
   }
}

.text-right {
	text-align: right;
}

// Ссылки тексте
.link {
   position: relative;
   display: inline-block;
   transition: color 0.3s ease;
   line-height: 120%;

   &::before {
      content: '';
      position: absolute;
      top: 103%;
      left: 0;
      width: 100%;
      height: 2px;
      background: $accentColor;
   }

   @media (any-hover: hover) {
      &:hover {
         color: $secondLinkColor;
      }
   }
}

// Отступы
.margin-bottom-10 {
   margin-bottom: 10px;

   @media (max-width: 1500px) {
      margin-bottom: calc(7px + 3*((100vw - 320px) / (1500 - 320)));
   }
}

.margin-bottom-20 {
   margin-bottom: 20px;

   @media (max-width: 1500px) {
      margin-bottom: calc(15px + 5*((100vw - 320px) / (1500 - 320)));
   }
}

.margin-bottom-30 {
   margin-bottom: 30px;

   @media (max-width: 1500px) {
      margin-bottom: calc(20px + 10*((100vw - 320px) / (1500 - 320)));
   }
}

.margin-bottom-40 {
   margin-bottom: 40px;

   @media (max-width: 1500px) {
      margin-bottom: calc(25px + 10*((100vw - 320px) / (1500 - 320)));
   }
}

.margin-bottom-50 {
   margin-bottom: 50px;

   @media (max-width: 1500px) {
      margin-bottom: calc(30px + 10*((100vw - 320px) / (1500 - 320)));
   }
}

.margin-bottom-60 {
   margin-bottom: 60px;

   @media (max-width: 1500px) {
      margin-bottom: calc(35px + 15*((100vw - 320px) / (1500 - 320)));
   }
}

.margin-bottom-80 {
   margin-bottom: 80px;

   @media (max-width: 1500px) {
      margin-bottom: calc(45px + 20*((100vw - 320px) / (1500 - 320)));
   }
}

.margin-bottom-100 {
   margin-bottom: 100px;

   @media (max-width: 1500px) {
      margin-bottom: calc(60px + 40*((100vw - 320px) / (1500 - 320)));
   }
}

.margin-bottom-120 {
   margin-bottom: 120px;

   @media (max-width: 1500px) {
      margin-bottom: calc(70px + 50*((100vw - 320px) / (1500 - 320)));
   }
}

// Кнопки
button:not(.swiper-button-prev, .swiper-button-next, .menu__icon),
.button {
   display: inline-block;
   text-transform: uppercase;
   padding: toEm(12, 16) toEm(20, 16) toEm(10, 16);
   border-radius: 3px;
   font-weight: 500;
   letter-spacing: 2px;
}

// вариант 1: полная/пустая кнопка
/* .offer-button,
.action-button,
.back-button {
   color: $mainBgColor;
   background-color: $accentColor;
   border: 3px solid $accentColor;
   transition: background-color 0.3s ease,
      color 0.3s ease;
}

.transparent-button {
   color: $accentColor;
   background-color: transparent;
   border: 3px solid $accentColor;
   transition: background-color 0.3s ease,
      color 0.3s ease;
}

@media (any-hover: hover) {

   .offer-button:hover,
   .action-button:hover,
   .back-button:hover {
      background-color: transparent;
      color: $accentColor;
   }

   .transparent-button:hover {
      background-color: $accentColor;
      color: $mainBgColor;
   }
} */

// вариант 2: светлая/темная кнопка
.offer-button,
.action-button,
.back-button {
   color: $mainBgColor;
   background-color: $accentColor;
   transition: background-color 0.3s ease;
}

@media (any-hover: hover) {

   .offer-button:hover,
   .action-button:hover,
   .back-button:hover {
      background-color: $accentDarkColor;
   }
}

// для обоих вариантов
.action-button {
   opacity: 0;
   transform: scale(0.5);
}

.action-button._watcher-view {
   transition: color 0.3s, background-color 0.3s, transform 0.8s, opacity 0.8s;
   opacity: 1;
   transform: scale(1);
}

.action-button._watcher-view:active,
.back-button:active,
.popup button:active,
.offer-button:active {
   transform: translate(1px, 2px);
   transition: transform 0.3s ease;
}


// Обтекание текстом
.float-left {
   float: left;
   margin: 0 toEm(20, 20) toEm(10, 20) 0;

   @media (max-width:$mobileSmall) {
      margin: toEm(15, 20) 0;
   }
}

.float-right {
   float: right;
   margin: 0 0 toEm(10, 20) toEm(20, 20);

   @media (max-width:$mobileSmall) {
      margin: toEm(15, 20) 0;
   }
}

// .float-left, .float-right {
// 	@media (max-width:$mobileSmall){
// 		clear: both; 
// 		margin: 0 0 20px;
// 	}
// }

.clearfix {
   display: flow-root;
   
    @media (max-width:$mobileSmall) {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
}

.img-box-300 {
   width: 100%;
   max-width: 300px;

   @media (max-width:$pc) {
      width: 30%;
   }

   @media (max-width:$tablet) {
      width: 35%;
   }

   @media (max-width:$mobileSmall) {
      width: 100%;
   }
}

.img-box-400 {
   width: 100%;
   max-width: 400px;

   @media (max-width:$pc) {
      width: 40%;
   }

   @media (max-width:$tablet) {
      width: 40%;
   }

   @media (max-width:$mobileSmall) {
      width: 100%;
   }
}

.img-width-300 {
   aspect-ratio: 300/400;
   overflow: hidden;
}

.img-width-400 {
   aspect-ratio: 400/300;
   overflow: hidden;
}

.icons-check {
   position: relative;
   top: 0;
   flex-shrink: 0;
   height: 35px;
   width: 35px;
   margin-right: 4px;
   fill: $accentColor;

   @media (max-width: $tablet) {
      height: 32px;
      width: 32px;
      top: -1px;
   }

   @media (max-width: $mobile) {
      height: 27px;
      width: 27px;
      top: 0;
      margin-right: 3px;
   }
}
