// offer
.offer {
	padding-bottom: 0;
	
   &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__title {

      &::after {
         left: 1%;
      }
   }

   &__list {
      padding-left: toRem(19);
   }

   &__list li {
      list-style-type: square;
      margin-bottom: toEm(10, 20);
   }

   &__list li::marker {
      color: $accentColor;
   }

   &__img-box {
      max-width: 300px;
      aspect-ratio: 300/533;
      overflow: hidden;
   }

   &__img-box-2 {
      max-width: 400px;
      aspect-ratio: 400/225;
      overflow: hidden;
   }

   &__img {
      width: 100%;
      height: auto;
      object-fit: cover;
   }

   &__sub-subtitle {
      align-self: flex-start
   }
}

.grid-offer {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 30px;

   @media (max-width: $pc) {
      grid-template-columns: 1fr 1fr;
   }

   @media (max-width:$tablet) {
      gap: 20px;
   }

   @media (max-width:$mobile) {
      grid-template-columns: 1fr;
   }

   @media (any-hover: hover) {
      &__item--1._watcher-view {
         opacity: 1;
         transform: translateY(0);
         transition: transform 0.7s ease 0s, opacity 0.7s ease 0s;
      }

      &__item--2._watcher-view {
         opacity: 1;
         transform: translateY(0);
         transition: transform 0.7s ease 0.2s, opacity 0.7s ease 0.2s;
      }

      &__item--3._watcher-view {
         opacity: 1;
         transform: translateY(0);
         transition: transform 0.7s ease 0.4s, opacity 0.7s ease 0.4s;
      }

      &__item--4._watcher-view {
         opacity: 1;
         transform: translateY(0);
         transition: transform 0.7s ease 0.6s, opacity 0.7s ease 0.6s;
      }
   }
}

.card {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color: $mainLightColor;
   padding: toEm(30, 20) toEm(30, 20);
   border-radius: 5px;
   min-height: toRem(400);
   max-width: toRem(400);

   @media (any-hover: hover) {
      opacity: 0;
      transform: translateY(100px);
   }

   &__img-wrapper {
      width: fit-content;
      aspect-ratio: 67/65;
      overflow: hidden;
      margin-bottom: toEm(15, 20);
   }

   &__icons {
      width: 67px;
      height: 65px;
   }

   &__title {
      margin-bottom: toEm(15, 20);
   }

   &__list {
      padding-left: toRem(19);
   }

   &__list li {
      list-style-type: disc;
   }

   &__list li::marker {
      color: $accentColor;
   }

   &__text {
      font-size: toRem(16);
      line-height: math.div(20, 16);

      @media (max-width: $pc) {
         font-size: calc(15px + 1*((100vw - 320px) / (1260 - 320)));
      }
   }

   &__text {
      margin-bottom: toEm(10, 20);
   }

	&__wrapper-link {
		text-align: center;
	}
}

.grid-offer-2 {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 30px;

   @media (max-width: $pc) {
      grid-template-columns: 1fr;
   }

   @media (max-width:$tablet) {
      gap: 20px;
   }
}

.offer__grid-2 .card {
	max-width: toRem(600);

   &__img-wrapper {
      aspect-ratio: 64/64;
   }

   &__icons {
      width: 64px;
      height: 64px;
   }

	&__list-2 {
		padding-left: toRem(15);
	}
}