// services
.services {
   background: url("../img/services/bg-services.jpg") center / cover no-repeat fixed;

   &__img-box{
      aspect-ratio: 400/300;
      overflow: hidden;
   }

   &__img {
      width: 100%;
      height: auto;
	  object-fit: cover;	
   }

   &__list {
      padding-left: 20px;
   }

   ul li {
      list-style-type: square;
   }
}